@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
// ### Primary
$p1: hsl(171, 66%, 44%);
$p2: hsl(233, 100%, 69%);

// ### Neutral
$n1: hsl(210, 10%, 33%);
$n2: hsl(201, 11%, 66%);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(18px);
  a {
    color: hsl(228, 45%, 44%);
  }
}

body {
  background-image: url(../img/bg-header-desktop.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ios {
  background-color: $p1;
}
.mac {
  background-color: $p2;
}

.row,
.download-btn {
  display: flex;
}

.row {
  align-items: center;
  &1 {
    margin-top: 5rem;
  }
}
h1,
h2,
h3 {
  color: $n1;
}

h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 2.2rem;
  margin-top: 10rem;
}

p {
  color: $n2;
  max-width: 690px;
  line-height: 1.6rem;
  &.footer__item {
    margin: 0;
  }
  &.margin {
    margin: 24px auto auto;
  }
}
.mw1000 {
  max-width: 1000px;
  margin: auto;
}
.text-center {
  text-align: center;
}

.logo {
  height: 126px;
  margin: 130px auto 66px;
  display: block;
}

.download-btn {
  justify-content: center;
  margin-top: 50px;
  .btn {
    width: 11rem;
    height: 49px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5rem;
    border: none;
    margin: 0 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    transition: 0.12s;
    cursor: pointer;
    &:active {
      opacity: 0.5;
    }
  }
}

.col {
  width: 50%;
  position: relative;
  height: 570px;
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 12rem 100px 100px;
    p {
      margin: 16px 0 64px;
    }
  }
}

.img2 {
  margin: 6rem auto 0;
  display: block;
}

.margin80 {
  margin: 5rem auto;
}

.jt-sb {
  justify-content: space-between;
}

.feature {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 3rem;
  &__icon {
    width: 2.75rem;
    display: block;
    margin: auto;
  }
  h3 {
    margin: 40px auto 24px;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2.5rem 0;
  margin-top: 5rem;
  .footer__logo {
    height: 55px;
    margin-right: 46px;
  }
  .footer-col {
    margin-left: 90px;
    height: 3rem;
  }
  .footer__item {
    cursor: pointer;
    transition: 0.15s;
    color: #4c555c;
    margin-bottom: 0.4rem;
    &:hover {
      opacity: 0.6;
      color: $p1;
    }
  }
  .sc {
    margin-left: auto;
    img {
      margin-left: 1rem;
      cursor: pointer;
      transition: 0.12s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    width: 100vw;
    padding: 0 7%;
    background-image: url(../img/bg-header-mobile.png);
  }
  .row,
  .download-btn {
    flex-direction: column;
    .btn {
      margin: 5px 0;
      width: 100%;
    }
  }
  .col {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      position: relative;
    }
    &.col-right {
      padding: 0;
      margin-top: 5rem;
    }
  }
  .img2 {
    width: 100%;
  }
  h2 {
    margin-top: 5rem;
  }
  .feature {
    width: 100%;
    padding: 0;
  }
  .row {
    align-items: unset;
    .brand-icon {
      max-width: 14rem;
      margin: 1.5rem auto;
    }
  }
  footer {
    .footer__logo {
      height: auto;
      width: 50px;
      margin: 0 auto 1.5rem;
    }
    .footer-col {
      margin: auto;
      height: auto;
      text-align: center;
    }
    .sc {
      margin: 1rem auto auto;
      img {
        margin: 1rem 1rem 0;
      }
    }
    .attribution {
      transform: translateX(-50%) translateY(-7px);
    }
  }
  p,
  h3 {
    text-align: center;
    margin: auto;
  }
}
